/* 共通css */
.textarea{
    background-color: white;
    border:2px solid black;
    width: 70%;
    margin-bottom: 10px;
}

.fuchidori{
    color: rgb(255, 255, 255);
    text-shadow:1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0),
                -1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
                0px 1px 0 rgb(0, 0, 0),  0-1px 0 rgb(0, 0, 0),
                -1px 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0);
}

.headline{
    margin: 0;
    font-size: 60px;
}


/* mail.html */
.situmonwaku{
    border: solid;
    margin: auto;
}


/* login.html */
.reg{
    display: flex;
    margin: 0 15%;
    flex-direction: column;
    align-items: center;
}

.loginform{
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #333;
    flex-direction: column;
    align-items: center;
}

.loginbtn{
    color: #fff;
    background-color: #000033;
    padding: 10px 60px;
}

.loginbtn:hover{
  color: #fff;
  background: #000099;
}

.reg_form td{
    padding: 10px;
}


/* hensyu.html */
.situmon ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}

.hensyubtn{
    margin-left: 10px;
}


/* feedback.html
   feedback_yet.html
   feedback_List.html 
*/
.feedback-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-form>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}


/* feedback_let.html
   delete.html
   mensetu.html
   update.html
*/
.mensetsu-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* スマートフォン向けCSS */
@media (max-width: 767px){
    .header{
        background-color: white;
    }

    .reg_form td{
        padding: 0px;
    }
}